{{#each posts}}
<div class="row-fluid">
  <div class="span3"><img src="{{postImg}}" class="img-rounded"/></div>
  <div class="span9"><h3>{{postTitle}}</h3>{{postSummary}}</div>
  <div class="span3">{{estabishedTime}}</div>
</div>
{{/each}}