{{!how to precompile? handlebars -m posts.handlebars -f posts.js -k human_readable_time,short_description}}
{{#each posts}}
<div class="row-fluid">
  <!-- for phone -->
  <div class="span8 visible-phone">
    <a class="pull-left w48" href="{{postLink}}" target="_blank"><img src="{{postImg}}"></img></a>
    <span class="pull-right visible-phone"><small>{{human_readable_time estabishedTime}}<br/>{{reference}}</small></span>
    <a href="{{postLink}}" target="_blank">
      <span class="visible-phone"><strong>&nbsp;{{short_description postTitle 15}}</strong></span>
    </a>
    <span class="visible-phone"><small>&nbsp;{{short_description postSummary 15}}</small></span>
  </div>

  <!-- for desktop or pad-->
  <div class="span12 hidden-phone media">
    <div class="span2 hidden-phone">
      <a class="pull-left w96" href="{{postLink}}" target="_blank"><img class="media-object" src="{{postImg}}"></img></a>
    </div>
    <div class="span8 media-body">
      <a href="{{postLink}}" target="_blank">
        <h4 class="hidden-phone lead media-heading"><strong>{{postTitle}}</strong></h4>
      </a>
      <p class="hidden-phone">{{postSummary}}</p>
    </div>
    <div class="span2 pull-right hidden-phone"><p>{{human_readable_time estabishedTime}}</p><p>{{reference}}</p></div>
  </div>
</div>
<hr>
{{/each}}